@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap);

body{
  font-family: 'Source Sans Pro', sans-serif;
}

input[type="date"].form-control{
  line-height: 20px;
}

input[type="time"].form-control{
  line-height: 20px;
}

.navbar {
  border-radius: 0px;
  height: auto;
}

nav ul li {
  font-size: 15px;
}

.navbar-collapse{
  background-color: #222;
}

.hr{ 
  
  border:         none;
  border-left:    1px solid hsla(200, 10%, 50%,100);
  min-height: 4vh;
  height: 100%;
  width: 1px;
  margin: 7px 0px 5px 10px;       
}

@media screen and (max-width: 768px ) {

  .hr{
    display: none;
  }
}
.rows {
  display: flex;
}


#list-cari{
  border-right:  1px #ddd;
  margin-right: 10px;
}

.search-content{
/*   flex: 1; */
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 700px;
  padding:10px;
}
.caribenda{
  max-width:120px;
  margin-right: 3px;
  border-radius: 10px;
}
.pencariandiv{
  display:flex;
}

.kolom-pencarian{
  float: right;
  display: block;
}

.search-items{
  font-family: 'Oswald', sans-serif !important;
  max-height: 650px;
  width:100%;
  overflow-y: scroll;
  background-color: #ddd;
}

.search-items a:hover {
  color: #ddd;
} 


.bg-light, .bg-light > a {
    color: 
    #1f2d3d !important;
}
.bg-light {
    background-color: 
    #f8f9fa !important;
}
.card {
    box-shadow: 0 0 1px 
rgba(0,0,0,.125),0 1px 3px
    rgba(0,0,0,.2);
    margin-bottom: 1rem;
}
.bg-light {
    background-color: #f8f9fa !important;
}
.card {
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 7px 0px 7px 4px;
    position: relative;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid 
    rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-grid;
    max-width: 30%;
    min-width: 200px;
    min-height: 300px;
    height: 300px;
}
.card-body::after, .card-footer::after, .card-header::after {
    display: block;
    clear: both;
    content: "";
}

.card-header:first-child {
    border-radius: calc(.25rem - 0) calc(.25rem - 0) 0 0;
}
.card-header {
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.text-muted {
    color: 
    #6c757d !important;
}
.border-bottom-0 {
    border-bottom: 0 !important;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 0 solid rgba(0,0,0,.125);
}
.pt-0, .py-0 {
    padding-top: 0 !important;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem; 
    min-height: 150px;
}
.card-body > .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.text-sm {
    font-size: .875rem !important;
}
.text-muted {
    color: 
    #6c757d !important;
}
.ml-4, .mx-4 {
    margin-left: 1.5rem !important;
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
.fa-ul {
    list-style-type: none;
    /*margin-left: 2.5em;*/
    /*padding-left: 0;*/
    width: 130px;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.fa-ul > li {
    position: relative;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}
.fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;
}
.img-circle {
    border-radius: 50%;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
img {
    vertical-align: middle;
    border-style: none;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: 
rgba(0,0,0,.03);
border-top: 0 solid
    rgba(0,0,0,.125);
}
.btn{
  border: none;
}

/*.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80px;
  height:180px;
  margin:8px;
  background-color:#fff;
  display: inline-block;
  position: relative;
  word-break:break-word;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.desc {
  padding: 5px 5px 5px 5px;
  text-align: center;
}*/
a {
    text-decoration: none;
    color: black ;
}
a:hover{
  color:#fff;
  text-decoration:none;
  cursor:pointer;
}
.list-cari-item:hover{
  background-color: #ddd;
}
.login-form {
  width: 340px;
    margin: 50px auto;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
/*.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {        
  font-size: 15px;
  font-weight: bold;
}*/
.login-form a:hover {
  color: #ccc;
}


.signup-form {
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}

.signup-form h2 {
  color: #636363;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
}

.signup-form h2:before,
.signup-form h2:after {
  content: "";
  height: 2px;
  width: 30%;
  background: #d4d4d4;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.signup-form h2:before {
  left: 0;
}

.signup-form h2:after {
  right: 0;
}

.signup-form .hint-text {
  color: #999;
  margin-bottom: 30px;
  text-align: center;
}

.signup-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f2f3f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.signup-form .form-group {
  margin-bottom: 20px;
}

.signup-form input[type="checkbox"] {
  margin-top: 3px;
}

.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  min-width: 140px;
  outline: none !important;
}

.signup-form .row div:first-child {
  padding-right: 10px;
}

.signup-form .row div:last-child {
  padding-left: 10px;
}

.signup-form a {
  color: #000;
  text-decoration: underline;
}

.signup-form a:hover {
  color: #ddd;
  text-decoration: none;
}

.signup-form form a {
  color: #5cb85c;
  text-decoration: none;
}

.signup-form form a:hover {
  text-decoration: underline;
}

.page-header{
  text-align: center;    
}

/* resume stuff */

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}
.bs-callout:last-child {
    margin-bottom: 0px;
}
.bs-callout h4 {
    margin-bottom: 10px;
    margin-top: 0;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4{
    color: #d9534f;
}

.resume .list-group-item:first-child, .resume .list-group-item:last-child{
  border-radius:0;
}

/*makes an anchor inactive(not clickable)*/
.inactive-link {
   pointer-events: none;
   cursor: default;
}

.resume-heading .social-btns{
  margin-top:15px;
}
.resume-heading .social-btns i.fa{
  margin-left:-5px;
}



@media (max-width: 992px) {
  .resume-heading .social-btn-holder{
    padding:5px;
  }
}


/* skill meter in resume. copy pasted from http://bootsnipp.com/snippets/featured/progress-bar-meter */

.progress-bar {
    text-align: left;
    white-space: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.progress-bar > .progress-type {
  padding-left: 10px;
}

.progress-meter {
  min-height: 15px;
  border-bottom: 2px solid rgb(160, 160, 160);
  margin-bottom: 15px;
}

.progress-meter > .meter {
  position: relative;
  float: left;
  min-height: 15px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(160, 160, 160);
}

.progress-meter > .meter-left {
  border-left-width: 2px;
}

.progress-meter > .meter-right {
  float: right;
  border-right-width: 2px;
}

.progress-meter > .meter-right:last-child {
  border-left-width: 2px;
}

.progress-meter > .meter > .meter-text {
  position: absolute;
  display: inline-block;
  bottom: -20px;
  width: 100%;
  font-weight: 700;
  font-size: 0.85em;
  color: rgb(160, 160, 160);
  text-align: left;
}

.progress-meter > .meter.meter-right > .meter-text {
  text-align: right;
}

.hr-vertical{
    border      : none;
    border-left : 1px solid hsl(0, 0%, 85.9%);
    height      : 30vh;
    margin-top  : 5px;
    width       : 1px; 
}
.appointmentform{
 
  position: relative;
}
.formlabel{
  width: 50px;
  text-align:left;
}
.sep{
  width:30px;
  text-align:center;
}
.inputform{
  width:100%;
  text-align:right;
}

.form-janjitemu{
  
  border: 1px;
  border-radius: 3px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
  padding: 10px;
}   

.wrap {
  max-width: 20em;
  display: inline-block;
}

.cardx {
  background: #fff;
  border: 1px solid #eee;
  transition: all 0.35s ease;
}
.cardx:hover {
  border-color: #ddd;
  box-shadow: rgba(10, 145, 145, 0.1) 0 0 5em;
}

.cardx:hover .card--btn a {
  background: #fbfbfb;
  border-color: #ddd;
}
.cardx:hover .card--btn .moreinfo {
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}
.cardx:hover .card--btn .fullprof {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.cardx figure {
  position: relative;
  /*z-index: 299;*/
  width: 15em;
  height: 15em;
  margin: 0 auto 1em;
  border-radius: 10%;
  overflow: hidden;
  border: 1px solid #eee;
  padding: 4px;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cardx figure img {
  width: 100%;
  display: block;
}

.card-liner {
  position: relative;
  overflow: hidden;
  padding: 0.5em;
}
.card--title {
  text-align: center;
  line-height: 1;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card--title h3 {
  margin: 0 0 .4em;
  font-size: 1.4em;
}
.card--title p {
  margin: 0 0 5em;
  color: #a5a5a5;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 2.2px;
}


.card--btn {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.card--btn a {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8em;
  color: #a5a5a5;
  padding: 1.4em 2em;
  border-top: 1px solid #eee;
  letter-spacing: 0.5px;
  transition: all 0.4s ease;
}
.card--btn a .fullprof {
  display: block;
  opacity: 0;
  color: #0a9191;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card--btn a .moreinfo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.4em;
  opacity: 1;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card--btn a .moreinfo i {
  margin-right: 5px;
}

.list-group a:hover{
  color: gray;
}
.table  a:hover{
  color: gray;
}
.footer {
  border-top: 4px solid #ccc;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: #ccc;
  text-align: center;
  height: 50px;
  padding: 12px;
}
.container{
  margin-bottom: 100px;
  margin-top: 50px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  height: 100%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  /*padding: 6px 12px;*/
  /*border: 1px solid #ccc;
  border-top: none;*/
}

.form-janjitemu div h5 a:hover{
  color: grey;
}